<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLY_HOCSINH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">s
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLY_HOCSINH.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet">
   

</head>
<body>
    <header>
        <nav class="navbar navbar-white navbar-primary">
            <div class="container-fluid bg-primary">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: #ffffff;">QLY_HOCSINH</a>
                </div>

                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" asp-area"" asp-controller="HocSinh" asp-action="Create" style="color: #ffffff;">Thêm học sinh</a>

                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" asp-area"" asp-controller="LopHoc" asp-action="Create" style="color: #ffffff;">Thêm lớp</a>

                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" asp-area"" asp-controller="DiemDanhs" asp-action="Create" style="color: #ffffff;">Điểm danh</a>

                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" asp-area"" asp-controller="GnSoDauBais" asp-action="Create" style="color: #ffffff;">Ghi nhận sổ đầu bài</a>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active glyphicon glyphicon-user" asp-area="" asp-controller="GiaoVien" asp-action="DangKy" style="color: #ffffff;">Đăng Ký</a></li>
                    <li>
                        <a class="active glyphicon glyphicon-log-in" asp-area="" asp-controller="GiaoVien" asp-action="DangNhap" style="color: #ffffff;">Đăng Nhập</a>
                    </li>
                </ul>
            </div>
        </nav>



     
    </header>
    <div class="container body-content">
        <div class="panel panel-primary">
            <div class="panel-heading">
           
            </div>
            <div class="panel-body">    
                    @RenderBody()
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - QLY_HOCSINH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
