USE [QLY_HOC_SINH]
GO
/****** Object:  Table [dbo].[DIEM_DANH]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM_DANH](
	[DIEM_DANH_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOP_ID] [varchar](10) NULL,
	[NGAY] [date] NULL,
	[HS_ID] [varchar](10) NULL,
	[TRANG_THAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_DIEM_DANH_1] PRIMARY KEY CLUSTERED 
(
	[DIEM_DANH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[GV_ID] [varchar](10) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[TAI_KHOAN] [varchar](50) NULL,
	[MAT_KHAU] [varchar](225) NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIAO_VIEN] PRIMARY KEY CLUSTERED 
(
	[GV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GN_SO_DAU_BAI]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GN_SO_DAU_BAI](
	[NGAY] [date] NULL,
	[LOP_ID] [varchar](10) NULL,
	[NOIDUNG] [nvarchar](250) NULL,
	[GN_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_GN_SO_DAU_BAI] PRIMARY KEY CLUSTERED 
(
	[GN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[HS_ID] [varchar](10) NOT NULL,
	[HO_TEN] [nchar](10) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
 CONSTRAINT [PK_HOC_SINH] PRIMARY KEY CLUSTERED 
(
	[HS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[LOP_ID] [varchar](10) NOT NULL,
	[TEN_LOP] [nvarchar](50) NULL,
	[GV_ID] [varchar](10) NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[LOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEP_LOP]    Script Date: 25/05/2024 11:04:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEP_LOP](
	[LOP_ID] [varchar](10) NULL,
	[HS_ID] [varchar](10) NOT NULL,
	[XEPLOP_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_XEP_LOP_1] PRIMARY KEY CLUSTERED 
(
	[XEPLOP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM_DANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_DANH_HOC_SINH1] FOREIGN KEY([HS_ID])
REFERENCES [dbo].[HOC_SINH] ([HS_ID])
GO
ALTER TABLE [dbo].[DIEM_DANH] CHECK CONSTRAINT [FK_DIEM_DANH_HOC_SINH1]
GO
ALTER TABLE [dbo].[DIEM_DANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_DANH_LOP_HOC1] FOREIGN KEY([LOP_ID])
REFERENCES [dbo].[LOP_HOC] ([LOP_ID])
GO
ALTER TABLE [dbo].[DIEM_DANH] CHECK CONSTRAINT [FK_DIEM_DANH_LOP_HOC1]
GO
ALTER TABLE [dbo].[GN_SO_DAU_BAI]  WITH CHECK ADD  CONSTRAINT [FK_GN_SO_DAU_BAI_LOP_HOC1] FOREIGN KEY([LOP_ID])
REFERENCES [dbo].[LOP_HOC] ([LOP_ID])
GO
ALTER TABLE [dbo].[GN_SO_DAU_BAI] CHECK CONSTRAINT [FK_GN_SO_DAU_BAI_LOP_HOC1]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_GIAO_VIEN] FOREIGN KEY([GV_ID])
REFERENCES [dbo].[GIAO_VIEN] ([GV_ID])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_GIAO_VIEN]
GO
ALTER TABLE [dbo].[XEP_LOP]  WITH CHECK ADD  CONSTRAINT [FK_XEP_LOP_HOC_SINH1] FOREIGN KEY([HS_ID])
REFERENCES [dbo].[HOC_SINH] ([HS_ID])
GO
ALTER TABLE [dbo].[XEP_LOP] CHECK CONSTRAINT [FK_XEP_LOP_HOC_SINH1]
GO
ALTER TABLE [dbo].[XEP_LOP]  WITH CHECK ADD  CONSTRAINT [FK_XEP_LOP_LOP_HOC1] FOREIGN KEY([LOP_ID])
REFERENCES [dbo].[LOP_HOC] ([LOP_ID])
GO
ALTER TABLE [dbo].[XEP_LOP] CHECK CONSTRAINT [FK_XEP_LOP_LOP_HOC1]
GO
