@model QLY_HOCSINH.Models.LopHoc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Chi tiết lớp học</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gv.GvId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
