@model QLY_HOCSINH.Models.GiaoVien

<h2>Đăng Nhập</h2>

<form asp-action="DangNhap">
    <div class="form-group">
        <label for="TaiKhoan">Tài Khoản</label>
        <input type="text" id="TaiKhoan" name="taiKhoan" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MatKhau">Mật Khẩu</label>
        <input type="password" id="MatKhau" name="matKhau" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
</form>
